@import './scss/variables';

.bimester {
    background: $bg-color;
    text-align: start;
    padding: .5rem 0;
    

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        h1 {
            color: $text-color;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px;
        }
    }

    &__grades {
        .col {
            display: flex;
            justify-content: center;
        }
    }
}