@import './scss/variables';

.btn-grade {
    width: 100px;
    height: 43px;
    border: none;
    outline: 0;
    background: red;
    border-radius: 15px;
    color: $text-color;
    font-weight: 500;
    font-size: 18px;
}

.selected {
    border: solid 1px $text-color !important;
}

@media (max-width: 400px) {
    .btn-grade {
        width: 70px;
        height: 43px;
        font-size: 12px;
    }
}