@import './scss/variables';

.grade {
    display: flex;
    align-items: start;

    &__content {
        width: 137px;
        height: 126px;
        border-radius: 20px;
        
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .grade__content--info {
            margin-left: 1rem;
            h1 {
                margin: 0;
                padding: 0;
                color: $text-color;
                font-size: 18px;
                font-weight: 500;
                line-height: 18px;
            }
        
            h2 {
                margin: 0;
                padding: 0;
                color: $text-color;
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
                margin-top: .5rem;
            }
        }

        .grade__content--note {
            display: flex;
            align-items: center;
            background: $line-color;
            padding: .2rem 0 .2rem 1rem;
            span {
                color: $danger;
                font-size: 12px;
                font-weight: 400;
                line-height: 14px;
                margin-left: .5rem;
            }
        }
    }

    &__btn-delete {
        background: none;
        border: none;
        height: auto;
        width: auto;
        
        img {
            height: 28px;
            width: 28px;
        }
    }
}