$bg-color: #0F0F0F;

$biology-grade: #CC4090;
$geography-grade: #C26719;
$art-grade: #05A2C2;
$sociology-grade: #9B19C2;
$button-color: #E9FF1A;

$note-bg-: #0F0F0FB2;
$line-color: #424242;

$text-color: #ECEDEE;

$danger: #FF5964;